---
const {
  title,
  description,
  image,
  product
} = Astro.props;
---

<meta charset="UTF-8" />

<meta
  name="viewport"
  content="width=device-width, initial-scale=1"
/>

<title>{title}</title>

<meta
  name="description"
  content={description}
/>

<meta
  property="og:title"
  content={title}
/>

<meta
  property="og:description"
  content={description}
/>

<meta
  property="og:image"
  content={image}
/>

<script
  type="application/ld+json"
  set:html={JSON.stringify({
    '@context':'https://schema.org',
    '@type':'Product',

    name:product.title,

    image:product.image,

    description:product.description,

    category:product.category,

    offers:{
      '@type':'Offer',
      price:product.price?.replace('$',''),
      priceCurrency:'USD'
    }
  })}
/>
